<a href="https://colab.research.google.com/github/Rab27/Olympic-Analysing-/blob/main/Copy_of_Olympic_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x= pd.read_csv('/content/athlete_events.csv')

In [ ]:
region=pd.read_csv('/content/noc_regions (1).csv')

In [ ]:
x.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
x.shape

(20760, 15)

In [ ]:
region.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [ ]:
region.shape

(230, 3)

In [ ]:
x.isnull().sum()

ID            0
Name          0
Sex           0
Age         851
Height     4537
Weight     4709
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     18017
dtype: int64

In [ ]:
region.isnull().sum()

NOC         0
region      3
notes     209
dtype: int64

In [ ]:
# to get add the Datafreame of x ( athletic data ) and Region data
x = x.merge(region,on='NOC',how='left')

In [ ]:
x.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [ ]:
x.duplicated().sum()

np.int64(78)

In [ ]:
x.drop_duplicates(inplace = True)

In [ ]:
x.duplicated().sum()

np.int64(0)

In [ ]:
x['Medal'].value_counts()

Medal
Silver    927
Gold      917
Bronze    899
Name: count, dtype: int64

In [ ]:
# to make Gold, silver anx bronze on column

pd.concat([x,pd.get_dummies(x['Medal'])], axis = 1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,False,False,False
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,False,False,False
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,False,False,False
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,False,True,False
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20755,10950,Viesturs Brzi,M,26.0,177.0,85.0,Latvia,LAT,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Sprint,NaN,Latvia,NaN,False,False,False
20756,10950,Viesturs Brzi,M,26.0,177.0,85.0,Latvia,LAT,2000 Summer,2000,Summer,Sydney,Cycling,Cycling Men's Team Sprint,NaN,Latvia,NaN,False,False,False
20757,10951,Barnabs Berzsenyi,M,34.0,NaN,NaN,Hungary,HUN,1952 Summer,1952,Summer,Helsinki,Fencing,"Fencing Men's epee, Individual",NaN,Hungary,NaN,False,False,False
20758,10951,Barnabs Berzsenyi,M,34.0,NaN,NaN,Hungary,HUN,1952 Summer,1952,Summer,Helsinki,Fencing,"Fencing Men's epee, Team",NaN,Hungary,NaN,False,False,False
20759,10951,Barnabs Berzsenyi,M,38.0,NaN,NaN,Hungary,HUN,1956 Summer,1956,Summer,Melbourne,Fencing,"Fencing Men's epee, Team",Silver,Hungary,NaN,False,False,True

In [ ]:
print(x.columns)

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes'],
      dtype='object')

In [ ]:
x.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending = False)

KeyError: "None of [Index(['Gold', 'Silver', 'Bronze'], dtype='object')] are in the [columns]"

In [ ]:
x.groupby("NOC").sum()[["Gold", "Silver", "Bronze"]].sort_values("Gold", ascending=False)

KeyError: "None of [Index(['Gold', 'Silver', 'Bronze'], dtype='object')] are in the [columns]"